<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713411697629-qan2nmgebo9p9mtv69fn6ceal8gbmter.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713411697629-qan2nmgebo9p9mtv69fn6ceal8gbmter</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>713411697629-9980llofjert5phm4uds8hqrn26uht96.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyfv1PA4yB0Cpd2odjVjD9UrcGNANghB8</string>
	<key>GCM_SENDER_ID</key>
	<string>713411697629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourTourGuide.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tour-guide-a65e8</string>
	<key>STORAGE_BUCKET</key>
	<string>tour-guide-a65e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713411697629:ios:1f70a9a09975f421cef434</string>
</dict>
</plist>